<%= form_with(model: alumni_assignment) do |form| %>
  <% if alumni_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alumni_assignment.errors.count, "error") %> prohibited this alumni_assignment from being saved:</h2>

      <ul>
        <% alumni_assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Alumni_id %>
    <%= form.number_field :Alumni_id %>
  </div>

  <div class="field">
    <%= form.label :Mentor_id %>
    <%= form.number_field :Mentor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
