<p id="notice"><%= notice %></p>

<p>
  <strong>Alumni:</strong>
  <%= @alumni_assignment.Alumni_id %>
</p>

<p>
  <strong>Mentor:</strong>
  <%= @alumni_assignment.Mentor_id %>
</p>

<%= link_to 'Edit', edit_alumni_assignment_path(@alumni_assignment) %> |
<%= link_to 'Back', alumni_assignments_path %>
