<p id="notice"><%= notice %></p>

<h1>Mentor Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Mentor</th>
      <th>Mentee</th>
      <th>Class Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mentor_assignments.each do |mentor_assignment| %>
      <tr>
        <td><%= mentor_assignment.Mentor_id %></td>
        <td><%= mentor_assignment.Mentee_id %></td>
        <td><%= mentor_assignment.class_year %></td>
        <td><%= link_to 'Show', mentor_assignment %></td>
        <td><%= link_to 'Edit', edit_mentor_assignment_path(mentor_assignment) %></td>
        <td><%= link_to 'Destroy', mentor_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mentor Assignment', new_mentor_assignment_path %>
